CREATE TABLE users (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        email TEXT UNIQUE NOT NULL,
        password TEXT NOT NULL,
        wallet TEXT,
        totalSteps INTEGER DEFAULT 0,
        fitBalance REAL DEFAULT 0,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      , hederaAccountId TEXT, hederaPrivateKeyEncrypted TEXT, walletCreatedAt DATETIME, isAdmin INTEGER DEFAULT 0);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE posts (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        userId INTEGER NOT NULL,
        caption TEXT,
        mediaType TEXT CHECK(mediaType IN ('image', 'video')),
        mediaUrl TEXT NOT NULL,
        thumbnail TEXT,
        likesCount INTEGER DEFAULT 0,
        commentsCount INTEGER DEFAULT 0,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
      );
CREATE TABLE comments (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        postId INTEGER NOT NULL,
        userId INTEGER NOT NULL,
        text TEXT NOT NULL,
        sentiment REAL,
        sentimentLabel TEXT,
        isFiltered INTEGER DEFAULT 0,
        filterReason TEXT,
        likesCount INTEGER DEFAULT 0,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (postId) REFERENCES posts(id) ON DELETE CASCADE,
        FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
      );
CREATE TABLE likes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        userId INTEGER NOT NULL,
        postId INTEGER,
        commentId INTEGER,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
        FOREIGN KEY (postId) REFERENCES posts(id) ON DELETE CASCADE,
        FOREIGN KEY (commentId) REFERENCES comments(id) ON DELETE CASCADE,
        UNIQUE(userId, postId),
        UNIQUE(userId, commentId)
      );
CREATE INDEX idx_posts_userId ON posts(userId);
CREATE INDEX idx_posts_createdAt ON posts(createdAt DESC);
CREATE INDEX idx_comments_postId ON comments(postId);
CREATE INDEX idx_comments_sentiment ON comments(sentiment DESC);
CREATE INDEX idx_likes_postId ON likes(postId);
CREATE INDEX idx_likes_commentId ON likes(commentId);
CREATE TABLE topics (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT NOT NULL,
      description TEXT,
      creatorId INTEGER NOT NULL,
      isPrivate INTEGER DEFAULT 0,
      memberCount INTEGER DEFAULT 1,
      imageUrl TEXT,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (creatorId) REFERENCES users(id)
    );
CREATE TABLE topic_members (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      topicId INTEGER NOT NULL,
      userId INTEGER NOT NULL,
      role TEXT CHECK(role IN ('admin', 'member')) DEFAULT 'member',
      joinedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (topicId) REFERENCES topics(id) ON DELETE CASCADE,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
      UNIQUE(topicId, userId)
    );
CREATE TABLE topic_messages (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      topicId INTEGER NOT NULL,
      userId INTEGER NOT NULL,
      message TEXT NOT NULL,
      messageType TEXT CHECK(messageType IN ('text', 'event', 'training', 'announcement')) DEFAULT 'text',
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (topicId) REFERENCES topics(id) ON DELETE CASCADE,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
    );
CREATE TABLE topic_events (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      topicId INTEGER NOT NULL,
      creatorId INTEGER NOT NULL,
      title TEXT NOT NULL,
      description TEXT,
      eventDate DATETIME NOT NULL,
      location TEXT,
      participantsCount INTEGER DEFAULT 0,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (topicId) REFERENCES topics(id) ON DELETE CASCADE,
      FOREIGN KEY (creatorId) REFERENCES users(id)
    );
CREATE TABLE event_participants (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      eventId INTEGER NOT NULL,
      userId INTEGER NOT NULL,
      status TEXT CHECK(status IN ('going', 'interested', 'not_going')) DEFAULT 'interested',
      joinedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (eventId) REFERENCES topic_events(id) ON DELETE CASCADE,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
      UNIQUE(eventId, userId)
    );
CREATE TABLE badges (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  user_id INTEGER NOT NULL,

  badge_type TEXT NOT NULL,

  name TEXT NOT NULL,

  description TEXT NOT NULL,

  image_url TEXT,

  rarity TEXT CHECK(rarity IN ('common', 'rare', 'epic', 'legendary')) DEFAULT 'common',

  attributes TEXT,

  nft_token_id TEXT,

  nft_serial_number TEXT,

  created_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE

);
CREATE INDEX idx_badges_user_id ON badges(user_id);
CREATE UNIQUE INDEX idx_badges_unique ON badges(user_id, badge_type);
CREATE TABLE badge_definitions (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  badge_type TEXT UNIQUE NOT NULL,

  name TEXT NOT NULL,

  description TEXT NOT NULL,

  image_url TEXT NOT NULL,

  rarity TEXT CHECK(rarity IN ('common', 'rare', 'epic', 'legendary')) DEFAULT 'common',

  requirement_type TEXT NOT NULL,

  requirement_value INTEGER NOT NULL,

  sort_order INTEGER DEFAULT 0,

  category TEXT DEFAULT 'general'

);
CREATE TABLE user_stats (

  user_id INTEGER PRIMARY KEY,

  workout_count INTEGER DEFAULT 0,

  comment_count INTEGER DEFAULT 0,

  positive_comment_count INTEGER DEFAULT 0,

  current_streak INTEGER DEFAULT 0,

  longest_streak INTEGER DEFAULT 0,

  last_workout_date DATE,

  total_workouts_time INTEGER DEFAULT 0,

  updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,

  FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE

);
CREATE VIEW unlockable_badges AS

SELECT 

  u.id as user_id,

  u.name as username,

  bd.badge_type,

  bd.name,

  bd.description,

  bd.image_url,

  bd.rarity,

  bd.category,

  bd.requirement_type,

  bd.requirement_value,

  bd.sort_order,

  CASE 

    WHEN bd.requirement_type = 'workout_count' THEN COALESCE(us.workout_count, 0)

    WHEN bd.requirement_type = 'comment_count' THEN COALESCE(us.comment_count, 0)

    WHEN bd.requirement_type = 'positive_comments' THEN COALESCE(us.positive_comment_count, 0)

    WHEN bd.requirement_type = 'streak_days' THEN COALESCE(us.current_streak, 0)

  END as current_progress,

  CASE 

    WHEN bd.requirement_type = 'workout_count' THEN COALESCE(us.workout_count, 0) >= bd.requirement_value

    WHEN bd.requirement_type = 'comment_count' THEN COALESCE(us.comment_count, 0) >= bd.requirement_value

    WHEN bd.requirement_type = 'positive_comments' THEN COALESCE(us.positive_comment_count, 0) >= bd.requirement_value

    WHEN bd.requirement_type = 'streak_days' THEN COALESCE(us.current_streak, 0) >= bd.requirement_value

  END as can_unlock,

  b.id as already_unlocked

FROM users u

CROSS JOIN badge_definitions bd

LEFT JOIN user_stats us ON u.id = us.user_id

LEFT JOIN badges b ON u.id = b.user_id AND bd.badge_type = b.badge_type
/* unlockable_badges(user_id,username,badge_type,name,description,image_url,rarity,category,requirement_type,requirement_value,sort_order,current_progress,can_unlock,already_unlocked) */;
CREATE VIEW badge_leaderboard AS

SELECT 

  u.id as user_id,

  u.name as username,

  COUNT(b.id) as total_badges,

  COUNT(CASE WHEN b.rarity = 'common' THEN 1 END) as common_badges,

  COUNT(CASE WHEN b.rarity = 'rare' THEN 1 END) as rare_badges,

  COUNT(CASE WHEN b.rarity = 'epic' THEN 1 END) as epic_badges,

  COUNT(CASE WHEN b.rarity = 'legendary' THEN 1 END) as legendary_badges,

  COALESCE(us.workout_count, 0) as workout_count,

  COALESCE(us.comment_count, 0) as comment_count,

  COALESCE(us.longest_streak, 0) as longest_streak

FROM users u

LEFT JOIN badges b ON u.id = b.user_id

LEFT JOIN user_stats us ON u.id = us.user_id

GROUP BY u.id

ORDER BY total_badges DESC, legendary_badges DESC, epic_badges DESC
/* badge_leaderboard(user_id,username,total_badges,common_badges,rare_badges,epic_badges,legendary_badges,workout_count,comment_count,longest_streak) */;
CREATE VIEW recent_badges AS

SELECT 

  b.*,

  u.name as username,

  bd.category

FROM badges b

JOIN users u ON b.user_id = u.id

JOIN badge_definitions bd ON b.badge_type = bd.badge_type

ORDER BY b.created_at DESC

LIMIT 20
/* recent_badges(id,user_id,badge_type,name,description,image_url,rarity,attributes,nft_token_id,nft_serial_number,created_at,username,category) */;
CREATE TABLE devices (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      userId INTEGER NOT NULL,
      deviceId TEXT NOT NULL,
      deviceType TEXT CHECK(deviceType IN ('smart_shoe', 'smartwatch', 'phone')),
      lastSync DATETIME DEFAULT CURRENT_TIMESTAMP,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
      UNIQUE(deviceId)
    );
CREATE TABLE workouts (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      userId INTEGER NOT NULL,
      deviceId TEXT,
      steps INTEGER DEFAULT 0,
      distance REAL DEFAULT 0,
      calories REAL DEFAULT 0,
      workoutDate DATETIME DEFAULT CURRENT_TIMESTAMP,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
    );
CREATE TABLE IF NOT EXISTS "rewards" (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        userId INTEGER NOT NULL,
        type TEXT,
        amount INTEGER NOT NULL,
        referenceId INTEGER,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
        FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
      );
CREATE TABLE products (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT NOT NULL,
      description TEXT,
      category TEXT CHECK(category IN ('supplement', 'protein', 'equipment', 'apparel', 'service')),
      priceTokens INTEGER NOT NULL,
      stock INTEGER DEFAULT 100,
      imageUrl TEXT,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
    );
CREATE TABLE user_challenges (

  id INTEGER PRIMARY KEY AUTOINCREMENT,

  userId INTEGER NOT NULL,

  challengeId INTEGER NOT NULL,

  progress INTEGER DEFAULT 0,

  status TEXT DEFAULT 'active' CHECK(status IN ('active', 'completed', 'failed')),

  startedAt DATETIME DEFAULT CURRENT_TIMESTAMP,

  completedAt DATETIME,

  rewardClaimed INTEGER DEFAULT 0,

  FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,

  FOREIGN KEY (challengeId) REFERENCES challenges(id) ON DELETE CASCADE,

  UNIQUE(userId, challengeId)

);
CREATE INDEX idx_user_challenges_userId ON user_challenges(userId);
CREATE INDEX idx_user_challenges_status ON user_challenges(status);
CREATE VIEW user_challenge_progress AS

SELECT 

  uc.id,

  uc.userId,

  u.name as userName,

  c.id as challengeId,

  c.title,

  c.description,

  c.type,

  c.target,

  c.reward,

  uc.progress,

  uc.status,

  ROUND((CAST(uc.progress AS REAL) / c.target) * 100, 2) as percentage,

  uc.startedAt,

  uc.completedAt,

  uc.rewardClaimed

FROM user_challenges uc

JOIN users u ON uc.userId = u.id

JOIN challenges c ON uc.challengeId = c.id
/* user_challenge_progress(id,userId,userName,challengeId,title,description,type,target,reward,progress,status,percentage,startedAt,completedAt,rewardClaimed) */;
CREATE TABLE purchases_backup(
  id INT,
  userId INT,
  productId INT,
  quantity INT,
  totalCost INT,
  status TEXT,
  createdAt NUM,
  qrCodeData TEXT,
  receiptCode TEXT
);
CREATE TABLE purchases (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  userId INTEGER NOT NULL,
  productId INTEGER NOT NULL,
  quantity INTEGER NOT NULL DEFAULT 1,
  totalCost INTEGER NOT NULL,
  qrCode TEXT UNIQUE NOT NULL,
  isUsed INTEGER DEFAULT 0,
  usedAt DATETIME,
  status TEXT DEFAULT 'completed',
  createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
  FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
  FOREIGN KEY (productId) REFERENCES products(id) ON DELETE CASCADE
);
CREATE TABLE user_challenge_levels (
    userId INTEGER PRIMARY KEY,
    currentLevel INTEGER DEFAULT 1,
    totalChallengesCompleted INTEGER DEFAULT 0,
    totalRewardsEarned INTEGER DEFAULT 0,
    lastLevelUpAt DATETIME,
    FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
  );
CREATE TABLE challenges (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      title TEXT NOT NULL,
      description TEXT NOT NULL,
      type TEXT NOT NULL,
      level INTEGER NOT NULL,
      target INTEGER NOT NULL,
      duration INTEGER,
      reward INTEGER NOT NULL,
      isActive INTEGER DEFAULT 1,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
    );
CREATE TABLE challenge_progress (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      userId INTEGER NOT NULL,
      challengeId INTEGER NOT NULL,
      progress INTEGER DEFAULT 0,
      startedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      lastUpdated DATETIME DEFAULT CURRENT_TIMESTAMP,
      isCompleted INTEGER DEFAULT 0,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE,
      FOREIGN KEY (challengeId) REFERENCES challenges(id) ON DELETE CASCADE,
      UNIQUE(userId, challengeId)
    );
CREATE TABLE challenge_completions (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      userId INTEGER NOT NULL,
      challengeId INTEGER NOT NULL,
      challengeTitle TEXT NOT NULL,
      challengeLevel INTEGER NOT NULL,
      reward INTEGER NOT NULL,
      completedAt DATETIME DEFAULT CURRENT_TIMESTAMP,
      hederaTxId TEXT,
      FOREIGN KEY (userId) REFERENCES users(id) ON DELETE CASCADE
    );
CREATE INDEX idx_challenges_level ON challenges(level);
CREATE INDEX idx_challenges_type ON challenges(type);
CREATE INDEX idx_challenge_progress_user ON challenge_progress(userId);
CREATE INDEX idx_challenge_completions_user ON challenge_completions(userId);
CREATE TABLE user_badges (id INTEGER PRIMARY KEY, userId INTEGER, badgeId INTEGER, earnedAt DATETIME DEFAULT CURRENT_TIMESTAMP);
